.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px;
}

.species-grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    gap: 24px;
}

.species-column {
    display: flex;
    justify-content: center;
}

@media (max-width: 980px) {
    .species-grid {
        grid-template-columns: repeat(2, 300px);
    }
}

@media (max-width: 660px) {
    .species-grid {
        grid-template-columns: 300px;
    }
}
lightning-input {
    width: 1075;
}
